body {
    margin:0;
    padding:0;
    overflow:hidden;
    /* background-color:#36afdf; */
    background-image: url("https://i.pinimg.com/originals/26/b0/9d/26b09de0635fbafacdb89168562f40d4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}

/* * {
    cursor: none;
} */

#shark {
    position:absolute;
    transform:translate(-50%,-50%);
    width: calc(10px + 12vh);
    height: calc(10px + 12vh);
    border-radius:50%;
    font-size: calc(16px + 10vh);
    /* border:2px solid black; */
}

html.reverse-shark .shark div {
    transform: scaleX(-1);
}

.garbage {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: calc(10px + 20vh);
    height: calc(10px + 12vh);
    padding-left: calc(10px + 10vh);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(16px + 7vh);
    z-index: 9;
    isolation: isolate;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-out;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  position: relative;
  z-index: 20;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
