body{
    margin:0;
    padding:0;
    overflow:hidden;
    /* background-color:#36afdf; */
    background-image: url("https://i.pinimg.com/originals/26/b0/9d/26b09de0635fbafacdb89168562f40d4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}

* {
    cursor: none;
}

#shark {
    position:absolute;
    transform:translate(-50%,-50%);
    width: calc(10px + 12vh);
    height: calc(10px + 12vh);
    border-radius:50%;
    font-size: calc(16px + 10vh);
    /* border:2px solid black; */
}

html.reverse-shark .shark div {
    transform: scaleX(-1);
}