body{
  background:url('https://bit.ly/3kvMDHf') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  object-fit: cover;
  font-family:"abel, sans-serif";
  font-size:20px;
  color:#3b3b3b;
}
#header{
  width:1000px;
  margin:100px auto;
}

/* Extras */

@font-face {
font-family: Cyber;
src: url("https://bit.ly/3gjIxQY");
font-display: swap;
}

@keyframes spinning-circle {
  0% {
    stroke-dashoffset: 0;
    stroke-dasharray: 150.6 100.4;
  }
  50% {
    stroke-dasharray: 1 250;
  }
  100% {
    stroke-dashoffset: 502;
    stroke-dasharray: 150.6 100.4;
  }
}

.spinner__circle {
  animation: 2s linear spinning-circle infinite;
}

* {
box-sizing: border-box;
}

a {
text-decoration: none;
color: var(--color);
}

.on-hover {
  display: none;
}

.devpost-btn {
position: absolute;
top: 91.5%;
right: 0.6%;
}

.spinner {
  position: absolute;
  top: 2.5%;
  right: 1.5%;
}